<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image API</title>
</head>
<body>
    <form method="GET" action="/cards">
<img src={{cards}}>
    </form>
    <form method="GET" action="/nasa">
    <img src={{image}}>	
    </form>
</body>
</html>